<section class="section-container">
    <div class="about-container">
        <figure class="about__img">
            <picture>
                <img src="../assets/images/desktop/img-widget-preview.png" alt="widget preview"
                    class="preview-widget-img">
                <source media="(min-width: 767px)" srcset="../assets/images/mobile/img-widget-preview.png">
            </picture>
        </figure>
        <div class="about__aside">
            <h3 class="title-secondary about__title">Widgets for every website.</h3>
            <ul class="frame-selection-container">
                <li class="frame-selection__button">
                    <img src="../assets/icons/ic-frame-1.svg" alt="">
                    Highlights
                </li>
                <li class="frame-selection__button">
                    <img src="../assets/icons/ic-frame-2.svg" style="color:blue" alt="">
                    Popover
                </li>
                <li class="frame-selection__button">
                    <img src="../assets/icons/ic-frame-3.svg" alt="">
                    Inline slideshows
                </li>
                <li class="frame-selection__button">
                    <img src="../assets/icons/ic-frame-4.svg" alt="">
                    Story list gallery
                </li>
                <li class="frame-selection__button frame-selection__button--activate">
                    <img src="../assets/icons/ic-frame-5.svg" alt="">
                    Carousel gallery
                </li>
            </ul>
        </div>
    </div>
</section>