@use "../abstracts/" as *;

.primary-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 16px 12px;
    border: 0px;
    border-radius: 3px;
    transition-duration: 0.1s;
    @include flex($justify: center, $gap: 5px);

    &--secondary {
        color: $light-secondary-color;
        background-color: $secondary-color;
        font-weight: 700;

        &:hover {
            background-color: $secondary-color-hover;
        }
    }

    &--third {
        font-weight: 700;
        color: $secondary-color;
        border: 2px $secondary-color solid;
        background-color: $background-color;
        &:hover {
            background-color: $primary-color;
        }
    }

    &--primary {
        color: $dark-text-color;
        background-color: $background-color;
        font-weight: 400;

        &:hover {
            background-color: $primary-color;
        }

    }
}