@use "../abstracts/" as *;

.text-uppercase {
    text-transform: uppercase;
}

.hightlight-bg {
    background-color: $yellow-background-color;
}

.description {
    font-size: pxToRem(18);
    margin-bottom: 50px;
    margin-top: 20px;
    @include tablet {
        font-size: pxToRem(16);
        margin-bottom: 36px;
    }

    @include mobile {
        font-size: pxToRem(16);
        margin-bottom: 28px;
    }
}