<section class="section-container">
    <div class="about__container">
        <picture class="about__img">
            <img loading="lazy" src="../assets/images/desktop/img-widget-preview.png" alt="widget preview" class="preview-widget-img">
            <source media="(min-width: 767px)" srcset="../assets/images/mobile/img-widget-preview.png">
        </picture>
        <div class="about__aside">
            <h2 class="title-secondary about__title">Widgets for every website.</h2>
            <ul class="frame-selection-container">
                <each loop="item in frameSelections">
                    <li class="frame-selection__button {{item.activateClass}}">
                        <figure>
                            <img src="{{item.src}}" alt="icon">
                        </figure>
                        {{item.text}}
                    </li>
                </each>
            </ul>
        </div>
    </div>
</section>
