<section class="section-container-secondary">
  <div class="benefits__container">
    <h2 class="title-secondary title-secondary--center">Let your story live<span class="hightlight-bg"> more than
        24h.</span></h2>
    <p class="description description--center description--top-space description--bottom-space">You've worked hard to
      create a beautiful Instagram story but it disappears in 24
      hours?
      <br>
      No worries, use our story saver for Instagram to bring them to life on your website.
    </p>
    <ul class="stories-card__container">
      <each loop="item in socialBenefits">
        <include src="./components/stories-card.html" locals='{
          "cardImage": "{{item.src}}",
          "cardTitle": "{{item.title}}",
          "cardDesc": "{{item.desc}}"
        }'></include>
      </each>
    </ul>
  </div>
</section>
<section class="section-container">
  <div class="benefits__container">
    <h2 class="title-secondary title-secondary--center">Double your<span class="hightlight-bg"> conversions.</span></h2>
    <h2 class="title-secondary title-secondary--center">Double your<span class="hightlight-bg"> growth.</span></h2>
    <ul class="primary-card__container">
      <each loop="item in businessBenefits">
        <include src="./components/primary-card.html" locals='{
          "cardHeader":"{{item.header}}",
          "cardIcon": "{{item.icon}}",
          "cardTitle": "{{item.title}}",
          "cardDesc": "{{item.desc}}"
        }'></include>
      </each>
    </ul>
    <div class="proof-comment__container">
      <figure>
        <img class="proof-comment__title" src="../assets/images/logo-clovin.png" alt="clovin logo">
      </figure>
      <p class="proof-comment__desc">“Storytelling on another level. EmbedStories is great - it takes pride of place on
        our homepage aggregating
        stories from our Instagram account. I highly recommend this product. ”.</p>
      <div class="proof-comment__footer">
        <figure>
          <img class="proof-comment__avatar" src="../assets/images/avatar-1.png" alt="user avatar">
        </figure>
        <p class="proof-comment__author"><strong>Ben Calahen,</strong> COO at Clovin</p>
      </div>
    </div>
  </div>
</section>
