<section class="social-proof-video-section">
    <article class="social-proof-video__container">
        <div class="social-proof-video__content">
            <h2 class="social-proof-video__title title-secondary title-secondary--white">It was love at first story</h2>
            <p class="social-proof-video__desc description description--white">“Great plugin and amazing support. I
                trialed
                several plugins that try to accomplish the same thing. None of
                them
                did it as beautifully and as simple as EmbedStories”
                <br>
                <br>
                <strong>Bertha Jo</strong>, CEO at jacole
            </p>
            <figure class="social-proof-video__sign">
                <img src="../assets/images/img-jacole-sign.png" alt="sign">
            </figure>
        </div>
        <figure class="social-proof-video__aside">
            <img loading="lazy" src="../assets/images/img-proof-video.png" alt="video">
        </figure>
    </article>
</section>
