@use "../abstracts/" as *;

.stories-card {
    &__container {
        @include flex($justify: center, $gap: 20px, $wrap: wrap);

    }

    &__item {
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(156, 160, 172, 0.40);
        @include flex($direction: column, $align:center);
    }

    &__text {
        margin-top: 20px;
        font-size: pxToRem(22);
        min-width: 200px;
        line-height: pxToRem(25);
        text-align: center;

        @include tablet {
            font-size: pxToRem(20);
        }

        @include mobile {
            min-width: 180px;
            font-size: pxToRem(18);
        }
    }

}