@use "../abstracts/" as *;

.text-uppercase {
    text-transform: uppercase;
}

.hightlight-bg {
    background-color: $yellow-background-color;
}

.title-primary {
    font-size: pxToRem(56);
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 27px;

    @include tablet {
        font-size: pxToRem(42);
        line-height: normal;
        margin-top: 10px;
    }

    @include mobile {
        font-size: pxToRem(34);
    }
}

.title-secondary {
    font-size: pxToRem(48);
    font-weight: 900;
    line-height: normal;
    @include tablet{
        font-size: pxToRem(38);
    }
    @include mobile{
        text-align: center;
    }
}
