@use "../abstracts/" as *;

.title-primary {
    font-size: pxToRem(56);
    font-weight: 900;
    line-height: 60px;
    @include tablet {
        font-size: pxToRem(42);
        line-height: normal;
        margin-top: 10px;
    }

    @include mobile {
        font-size: pxToRem(34);
    }
}

.title-secondary {
    font-size: pxToRem(48);
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
    &--center{
        text-align: center;
    }
    &--white{
        color: white;
    }
    @include tablet{
        font-size: pxToRem(38);
    }
    @include mobile{
        text-align: center;
    }
}
