<main>
    <div class="container">
        <include src="./layout/home-sections/about-section.html" ></include>
        <include src="./layout/home-sections/benefits-section.html" ></include>
        <include src="./layout/home-sections/templates-section.html"></include>
        <include src="./layout/home-sections/first-feature-section.html"></include>
        <include src="./layout/home-sections/cta-section.html"></include>
        <include src="./layout/home-sections/second-feature-section.html"></include>
        <include src="./layout/home-sections/social-proof-video-section.html"></include>
        <include src="./layout/home-sections/social-proof-reviews-section.html"></include>
        <include src="./layout/home-sections/pricing-section.html"></include>
        <include src="./layout/home-sections/all-brands-section.html"></include>
    </div>
</main>
