@use "functions" as *;

// Font family
$primary-font: Roboto;

// Breakpoints

$medium: 768px;
$extra-lager: 1200px;

$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);

// Colors
$dark-text-color: #000000;
$light-text-color: #ffffff;
$background-color: #ffffff;
$neutral-background-color: #eef1f7;
$light-secondary-color:#e8f4fc;
$hero-background-color: linear-gradient(180deg, rgba(214, 218, 228, 0.00) 0%, rgba(214, 218, 228, 0.20) 100%);
$yellow-background-color: #f9ed32;
$primary-color: #ebebeb;
$secondary-color: #06F;
$secondary-color-hover: #0349B3;

// background colors
$background-color: #ffffff;
$neutral-background-color: #eef1f7;
$hero-background-color: linear-gradient(180deg, rgba(214, 218, 228, 0.00) 0%, rgba(214, 218, 228, 0.20) 100%);
$yellow-background-color: #f9ed32;
$purple-background-color: #e8ddff;
$dark-background-color: #111827;

// text colors
$text-muted:#9CA0AC;
$main-spacing: pxToRem(-0.58);
