@use "../../abstracts/" as *;

.all-brands {
    &__container {
        @include flex($direction: column, $align: center, $gap: 80px);
    }

    &__title {
        max-width: 980px;
        text-align: center;
        @include mobile{
            font-size: 30px;
        }
    }

    &__img {
        img {
            width: 100%;
        }
    }
}
