@use "../../abstracts/" as *;

.social-proof-video {
    &__container {
        background-color: $dark-background-color;
        border-radius: 15px;
        padding: 24px;
        @include flex($align: center, $gap: 120px);

        @include tablet {
            gap: 30px;
            flex-direction: column;
        }
    }

    &__desc {
        line-height: pxToRem(28);
    }

    &__content {
        max-width: 510px;
        @include flex($direction: column, $justify: center, $gap: 20px);
    }

    &__aside {
        cursor: pointer;
        transition-duration: 0.2s;
        width: 100%;

        img {
            width: 100%;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

.social-proof-video-section {
    @include flex($direction: column, $align: center);
    padding: 0px 20px;
}

.social-proof-reviews {
    &__container {
        @include flex ($direction: column, $align: center);
    }

    &__list {
        @include flex ($gap: 20px, $justify: center);
        flex-wrap: wrap;
        max-width: 1300px;
    }

    &__item {
        box-shadow: 0px 0px 10px 0px rgba(156, 160, 172, 0.40);
        border-radius: 15px;
        padding: 26px;
        width: 310px;
        min-height: 376px;
        @include flex($direction: column, $justify: space-between);
    }

    &__desc {
        font-size: pxToRem(16);
    }

    &__main {
        @include flex($direction: column, $gap: 15px);
    }

    &__footer {
        @include flex($gap: 10px, $align: center);
        font-size: pxToRem(12);
        color: $text-muted;

        img{
            width: 17px;
            height: 17px;
        }
    }

    &__copy-right {
        margin-top: 30px;
        font-size: pxToRem(14);
        color: $text-muted;
        @include flex($justify: center, $align: center, $gap: 5px);

        u {
            cursor: pointer;
            transition-duration: 0.2s;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}