<div class="second-feature-content__container">
    <figure class="second-feature-content__img">
        <figure>
            <img loading="lazy" src="../assets/images/img-feature-{{item.img}}.png" class="second-feature-content__img--inside" alt="image">
        </figure>
        <if condition='{{item.igLogo == "true"}}'>
            <figure class="second-feature-content__deco">
                <img src="../assets/icons/ic-instagram.svg"  alt="Instagram logo">
            </figure>
        </if>
    </figure>
    <include src="./components/feature-article-context.html"></include>
</div>
